@page "/product/{id:int}"

@if (Product != null)
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src=@Product.ImageUrl alt=@Product.Title>
        </div>
        <div class="media-body">
            <h2 class="mb-0">@Product.Title</h2>
            <p>@Product.Description</p>
            @if (Product.ProductVariants != null && Product.ProductVariants.Count() > 0)
            {
                <div class="mb-3"> 
                    <select class="form-select" @bind=@currentTypeId>
                        @foreach (var vart in Product.ProductVariants)
                        {
                            <option value="@vart.ProductTypeId">@vart.ProductType.Name</option>
                        }
                    </select>
                </div>
            }
            @if (GetSelectedProductVariant() != null)
            {
                @if (GetSelectedProductVariant().OriginalPrice > GetSelectedProductVariant().Price)
                {
                    <h6 class="text-muted original-price">$@GetSelectedProductVariant().OriginalPrice </h6>
                }
                <h4 class="price">Price: @GetSelectedProductVariant().Price </h4>
            }

        </div>

    </div>
}
else
{
    <span>@message</span>
}


